$white:           #ffffff !default;
$soft-white:      #f9f9f9 !default;
$black:           #000000 !default;
$dark-grey:       #272727 !default;
$grey:            #555555 !default;
$ligth-grey:      #7E7E7E !default;
//-----------------------------------//
$success:         #20C261 !default;
$error:           #FF5F5F !default;
//-----------------------------------//

$ease-cubic:              cubic-bezier(.77,.2,.05,1);
$ease-cubix:              cubic-bezier(0.560, 0.000, 0.265, 1.000);